:root {
  --color-1: hsl(4, 100%, 67%);
  --color-2: hsl(234, 29%, 20%);
  --color-3: hsl(235, 18%, 26%);
  --color-4: hsl(0, 0%, 58%);
  --color-5: hsl(0, 0%, 100%);
  --color-6: hsla(4, 100%, 67%, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* weight 400 & 700 */

.banner {
  width: 100%;
  height: 20em;
  background-image: url(./assets/images/illustration-sign-up-mobile.svg);
  background-repeat: no-repeat;
}

.buttons {
  width: 80vw;
  margin-left: 2.5em;
  color: var(--color-5);
  background-color: var(--color-2);
  border: none;
  padding: 1.25em 3.5em;
  font-size: 0.875em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border-radius: 0.5em;
  background-image: none;
  transition: 1s ease all;
}

.buttons:hover {
  background-image: linear-gradient(
    to right,
    #ff5477,
    #ff5769,
    #ff5c5b,
    #ff624d,
    #ff693e
  );
}

.invalidlabel {
  color: var(--color-1);
  opacity: 0;
}

.labels {
  display: flex;
  gap: 7rem;
}

.erroremail {
  background-color: var(--color-6);
  color: var(--color-6);
}

form {
  position: relative;
  z-index: 1;
  background-color: var(--color-5);
  opacity: 1;
  transition: opacity 0.3s ease;
  h1 {
    color: var(--color-2);
    margin: 0em 0em 0.5em 1em;
  }
  p {
    color: var(--color-2);
    margin: 0em 1em 1em 2em;
  }

  label {
    font-size: 0.75em;
    font-weight: 700;
    color: var(--color-2);
    margin-left: 3em;
  }

  input[type="email"] {
    width: 80%;
    height: 4em;
    border-radius: 0.75em;
    outline: none;
    border: 1px solid var(--color-4);
    margin-top: 0.5em;
    margin-left: 2.5em;
    margin-bottom: 1.5em;
    padding: 1em 2em;
    font-family: "Roboto", sans-serif;
    font-size: 0.875em;
    color: var(--color-4);
  }
}

ul {
  margin: 0em 1em 0em 1.75em;
  line-height: 1.5em;
  li {
    color: var(--color-2);
    margin-bottom: 0.5em;
    display: flex;
    align-items: start;
  }
  li::before {
    content: url(./assets/images/icon-list.svg);
    margin-right: 1em;
  }
  li:last-child {
    margin-bottom: 2em;
  }
}

article {
  opacity: 0;
  z-index: -2;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0em;
  background-color: var(--color-5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: opacity 0.3s ease;

  .up {
    margin-top: 8em;
  }

  img {
    margin: 2rem;
  }
  h2 {
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    line-height: 2.75rem;
    color: var(--color-2);
  }

  p {
    color: var(--color-2);
    margin-left: 2rem;
    line-height: 1.5rem;
    span {
      font-weight: 700;
    }
  }
  input[type="button"] {
    width: 84%;
    margin: 2rem 0rem 2rem 2rem;
  }
}

footer {
  font-size: 0.75em;
  color: var(--color-2);
  text-align: center;
  margin-top: 0.5em;
  a {
    color: var(--color-2);
    text-decoration: none;
  }
}

@media screen and (min-width: 1440px) {
  .banner {
    margin: -1rem;
    width: 30rem;
    height: auto;
    background-image: url(./assets/images/illustration-sign-up-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 82.5%;
  }

  .buttons {
    width: 80%;
  }

  body {
    background-color: var(--color-3);
    height: 95vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main {
    position: relative;
    max-width: 54rem;
    min-width: 54rem;
  }

  form {
    width: 54rem;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 2rem;
    box-shadow:
      rgba(0, 0, 0, 0.09) 0px 54px 55px,
      rgba(0, 0, 0, 0.09) 0px -12px 30px,
      rgba(0, 0, 0, 0.09) 0px 4px 6px,
      rgba(0, 0, 0, 0.09) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;

    h1 {
      font-size: 3.5rem;
      margin-left: 2rem;
    }

    p {
      padding-right: 0.75rem;
      line-height: 1.5rem;
    }

    input[type="email"] {
      width: 80%;
    }
  }

  .downform {
    width: 30rem;
    display: flex;
    flex-direction: column;

    padding: 5rem 1rem;
  }

  article {
    width: 32rem;
    height: 36rem;
    padding: 2.5rem 4rem;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    box-shadow:
      rgba(0, 0, 0, 0.09) 0px 54px 55px,
      rgba(0, 0, 0, 0.09) 0px -12px 30px,
      rgba(0, 0, 0, 0.09) 0px 4px 6px,
      rgba(0, 0, 0, 0.09) 0px 12px 13px,
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
    gap: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .up {
      margin-top: 0rem;
    }

    img {
      margin: 0;
      width: 5rem;
    }

    h2 {
      font-size: 4rem;
      line-height: 4rem;
      margin: 2rem 0rem 1rem 0rem;
    }

    p {
      margin-left: 0rem;
    }
    .down {
      width: 100%;
    }
    input[type="button"] {
      width: 100%;
      margin: 0rem;
    }
  }

  footer {
    margin-top: 2rem;
    color: var(--color-5);
    font-weight: 700;
    font-size: 1rem;
    a {
      color: var(--color-5);
    }
  }
}

@media screen and (min-width: 376px) and (max-width: 528px) {
  .banner {
    background-size: 100%;
    height: 27rem;
  }

  form {
    .downform {
      padding: 0rem 2rem;

      button {
        width: 80%;
      }
    }
  }
}

@media screen and (min-width: 529px) and (max-width: 1439px) {
  .banner {
    background-image: url(./assets/images/illustration-sign-up-tablet.svg);
    aspect-ratio: 16/9;
    border-radius: 0;
    background-size: 100%;
  }

  body {
    font-size: 1.75rem;
  }

  form {
    .downform {
      margin-left: 4rem;

      button {
        width: 80%;
      }
    }
  }
}
